.summary-container {
	width: 960px;
	margin: 30px auto;
}

.summary-container > h1 {
	margin-left: 16px;
}

#summary {
	width: 960px;
	margin: 30px auto;
	border: 1px solid #000;
	border-radius: 3px;
	padding: 20px;
	background-color: #efefef;
	text-align: justify;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clearboth {
	clear: both;
}

.highlighted {
	background-color: rgb(255, 255, 123);
}

.note{
	position: absolute;
	width:200px;
}

#logout{
	float:right;
}

.summary-options {
	margin-right: 30px;
}

.options h3 {
	margin: 0;
}

.note .glyphicon-remove {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.alert-flash .glyphicon-remove {
	position: absolute;
	top: 17px;
	right: 10px;
	cursor: pointer;
}

.pdf-note {
     color: #616E14;
     border: solid 1px #BFD62F;
     background-color: #DAE691;
     border-radius: 6px;
     padding: 4px 20px;
     margin:0;
}

#pdf-summary{
	display: none;
}

#removeAll-highlights-button {
	margin-right: 5px;
}

#welcomeUser {
	color: white;
	float: right;
	padding: 15px 20px;
}

.alert-flash{
	margin: 0;
	position: absolute;
	right: 0px;
	padding-right: 56px;
}

.users.inputs{
    width: 250px;
}

.users.add{
    width: 300px;
}

.users.form input{
   float: right;
}

.input.password.required{
    margin-top: 10px;
    margin-bottom: 10px;
}

.users.form input[type="submit"]{
    float: left;
}

.search-button-div {
	position: absolute;
	top: 63px;
	right: 13px;
}

.upload-button-div {
	position: absolute;
	top: 63px;
	right: 53px;
}